.slideshow{
	position: relative;
}
.slideshow img{
	display: block;
	width: 100%;
	height: auto;
}
.slideshow .text-box{
	width: 370px;
	position: absolute;
	top: 50%;
	right: 6%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	font:20px/25px Arial, Helvetica, sans-serif;
	color:#242424;
}

.slideshow .text-box h2{
	color:#242424;
	font-size:40px;
	line-height:40px;
	margin:0 0 6px;
}

.slideshow .text-box p{
	margin:0 0 15px;
}
.price-box {
	display:block;
	padding:26px 5px;
	background:#57c5a0;
	color:#fff;
	font:13px/15px 'aller_bd', Arial, Helvetica, sans-serif;
	width:58px;
	margin:0 0 13px;
	text-align:center;
}
.slideshow .price-box {
	float:left;
	margin:7px 22px 7px 0;
}
.slideshow .container{
	position:absolute;
	top:0;
	bottom:0;
	left:50%;
	width:100%;
	transform:translate(-50%, 0);
	-webkit-transform:translate(-50%, 0);
}
.slideshow .slides{
	position: relative;
	overflow: hidden;
}
.slideshow .slides li {position:relative;}
.pagination {
	background:#2e2e2e;
	overflow:hidden;
}
.pagination ul {
	width:2000px;
	height: auto;
	padding:0 5px;
	overflow:hidden;
	margin:0 auto;
	text-align:center;
	position:relative;
	z-index:1;
}
.pagination ul:after {
	position:absolute;
	top:6px;
	left:0;
	width:100%;
	height:10px;
	background:#000;
	z-index:-1;
	content:'';
}
.pagination li {
	float:left;
	position:relative;
	width:33%;
	padding:0 5px;
	box-sizing:border-box;
}
.pagination li:after {
	position:absolute;
	top:8px;
	left:-1px;
	background:#2e2e2e;
	width:2px;
	height:6px;
	content:'';
}
.pagination li:first-child:after {display:none;}
.pagination span {
	display:block;
	color:#adadad;
	font-size:12px;
	line-height:14px;
	padding:30px 5px 23px;
	text-decoration:none;
	position:relative;
	cursor:pointer;
}
.pagination span strong {
	display:block;
	color:#acacac;
	font-size:18px;
	line-height:20px;
	margin:0 0 3px;
}
.pagination span:hover strong {color:#fff;}
.pagination .flex-active span:after {
	position:absolute;
	background:#57c5a0;
	width:100%;
	left:0;
	top:8px;
	height:6px;
	content:'';
}
.pagination .flex-active strong {
	color:#fff;
}

.option-list {
	overflow:hidden;
}
.option-list li {
	float:left;
	margin:0 2px 0 0;
}
.option-list a {
	display:block;
	height:40px;
	width:40px;
	position:relative;
	background:#fff;
}
.option-list a:after {
	position:absolute;
	top:50%;
	left:50%;
	background:url(../img/sprite.png) no-repeat;
	content:'';
}
.option-list .view:after {
	background-position:-79px 0;
	width:16px;
	height:10px;
	margin:-5px 0 0 -8px;
}
.option-list .view:hover:after {background-position:-166px 0;}
.option-list .wishlist:after {
	background-position:-100px 0;
	width:16px;
	height:16px;
	margin:-8px 0 0 -8px;
}
.option-list .wishlist:hover:after {background-position:-187px 0;}
.option-list .share:after {
	background-position:-123px 0;
	width:16px;
	height:13px;
	margin:-6px 0 0 -8px;
}
.option-list .share:hover:after {background-position:-210px 0;}
.option-list .buy:after {
	background-position:-143px 0;
	width:16px;
	height:15px;
	margin:-7px 0 0 -8px;
}
.option-list .buy:hover:after {background-position:-230px 0;}

.special-offers{
	background:#242424;
	padding:26px 0 25px;
}
.special-product{
	overflow: hidden;
	margin:0 -5% 0 0;
}
.special-product li{
	width: 30%;
	margin: 0 2% 0 0;
	position: relative;
	float: left;
}
.special-product img{
	width: 100%;
	display: block;
	height: auto;
}
.special-product .text{
	background:rgba(36,36,36,0.9);
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font:25px/27px  sans-serif;
	color:#fff;
	padding:16px 20px;
	min-width:140px;
	text-align:center;
	text-transform:uppercase;
}
.products-block {
	border-bottom:1px solid #bcb5a7;
	padding:0 0 18px;
	margin:0 0 25px;
}
.products-block .title-box {
	overflow:hidden;
	padding:10px 0 28px;
}
.products-block .title-box h2 {
	color:#242424;
	font:25px/27px 'aller_lt', sans-serif;
	float:left;
}
.products-block .title-box .btn-all {
	float:right;
	color:#bcb5a7;
	font:14px/16px 'aller_bd', sans-serif;
	padding:6px 20px;
	border:1px solid #bcb5a7;
	margin:-2px 0 0;
}
.product-list {
	overflow:hidden;
	margin:0 -5% 10px 0;
}
.product-list > li {
	width:30.4%;
	margin:0 1.75% 18px 0;
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.product-list img {
	width:100%;
	height:auto;
	display:block;
}
.product-bar {
	padding:3px 0 6px 93px;
	background:#fff;
	position:relative;
	border-top:1px solid #ccc;
	min-height:40px;
}
.product-bar .price-box {
	left:12px;
	position:absolute;
	bottom:0;
	margin:0;
}
.product-bar h3 {
	color:#242424;
	font-size:18px;
	line-height:20px;
	padding:10px 0 0;
}
.product-bar .option-list {
	margin: 0 0 0 14px;
	display:none;
}
.product-list > li:hover .option-list {display:block;}
.product-list > li:hover .product-bar h3 {display:none;}
.product-list .info-box {
	width:68px;
	height:67px;
	color:#fff;
	font:13px/15px 'aller_bd', sans-serif;
	position:absolute;
	top:0;
	right:13px;
	box-sizing:border-box;
	padding:5px;
	background:#242424;
	display:table;
	text-transform:uppercase;
	text-align:center;
}
.product-list .info-box span {
	display:table-cell;
	vertical-align:middle;
}
.product-list .info-box.orange {background:#f27e4b;}
.news-block {
	overflow:hidden;
	margin:0 0 22px;
}
.news-block .box {
	width:23.5%;
	float:left;
	background:#dfdbd4;
	box-sizing:border-box;
	padding:31px 15px 10018px;
	margin:0 0 -9999px 2%;
}
.news-block .box:first-child {margin:0 0 -9999px;}
.news-block .box.large {
	width:49%;
}
.news-block h3 {
	color:#242424;
	font:14px/16px  sans-serif;
	margin:0 0 12px;
	text-transform:uppercase;
}
.news-block q {
	display:block;
	margin:0 0 6px;
}
.news-block q a {color:#242424;}
.news-block cite {
	display:block;
}
.news-list {
	padding:8px 0 0 2px;
}
.news-list li {
	overflow:hidden;
	margin:0 0 15px;
}
.news-list .date {
	float:left;
	margin:0 10px 0 0;
	color:#fff;
	background:#57c5a0;
	font:10px/12px 'aller_bd', sans-serif;
	width:30px;
	padding:5px 3px;
	text-transform:uppercase;
	text-align:center;
}
.news-list .date span { font-size:13px;}
.news-list .text {
	overflow:hidden;
	padding:2px 0 0;
}
.news-list .text strong {
	font:14px/16px 'aller_bd', sans-serif;
	display:block;
}
.news-list .text strong a {color:#242424;}
.twitter-list li{
	margin: 0 0 11px;
}

.twitter-list p {margin:0 0 6px;}
.twitter-list .date {
	display:block;
	color:#c4c5bf;
}
.twitter-list a{
	text-decoration: none;
	color: #57c5a0;
}
.twitter-list p{
	font-style: italic; 
}
.image-list{
	overflow:hidden;
	margin:0 -8% 0 0;
}
.image-list li{
	float:left;
	margin:0 2.7% 9px 0;
	width:30%;
}
.image-list img{
	width:90%;
	height:auto;
	display:block;
}

datalist option{
	background: rgba(0, 0, 0, .3);
	color: #fff;
	
}
@media only screen and (max-width: 767px){
	.slideshow .container {
		position:static;
		transform:translate(0, 0);
		-webkit-transform:translate(0, 0);
		padding:20px;
		width:auto;
	}
	.slideshow .text-box {
		position:static;
		transform:translate(0, 0);
		-webkit-transform:translate(0, 0);
		width:100%;
	}
	.slideshow .price-box {
		padding:23px 5px;
		width:51px;
		float:left;
		margin:0 11px 4px 0;
	}
	.pagination {padding:6px;}
	.pagination ul {
		width: 450px;
		height: auto;
		text-indent:-9999px;
		overflow:hidden;
		text-align:left;
		font-size:0;
		line-height:0;
	}
	.pagination ul span {
		font-size:0;
		line-height:0;
		padding:0;
		width:100%;
		height:20px;
	}
	.pagination ul:after {
		height:20px;
		top:0;
	}
	.pagination li:after,
	.pagination .flex-active span:after {
		height:16px;
		top:2px;
	}
	.pagination a strong {display:none;}
	.special-product {margin:0;}
	.special-product li {
		float:none;
		width:auto;
		margin:0 0 20px;
	}
	.products-block .title-box {padding:10px 0 18px;}
	.products-block .title-box h2 {
		float:none;
		margin:0 0 10px;
	}
	.products-block .title-box .btn-all {
		float:none;
		display:inline-block;
		vertical-align:top;
	}
	.product-list {margin:0;}
	.product-list > li {
		margin:0 0 18px;
		width:100%;
	}
	.product-bar .option-list {margin:0 0 0 14px;}
	.option-list a {width:40px;}
	.products-block {padding:0 0 10px;}
	.news-block .box {
		padding:31px 15px;
		margin:0 0 18px;
		float:none;
		width:auto;
	}
	.news-block .box:first-child {margin:0 0 18px;}
	.news-block .box.large {width:auto;}
}