.bannerbox {
	position:relative;
}
.bannerbox {
	min-height:147px;
}
.bannerbox img {
	position:relative;
	display:block;
	width:100%;
	height:auto;
	top:0;
	left:50%;
	min-width:790px;
	min-height:147px;
	margin:0 0 0 -50%;
}
.bannerbox .container {
	position:absolute;
	top:50%;
	left:50%;
	width:100%;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
}
.bannerbox .textbox {
	width:370px;
	position:absolute;
	top:50%;
	right:6.4%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	font:20px/25px 'aller_lt', Arial, Helvetica, sans-serif;
	color:#242424;
}
.bannerbox .textbox {
	width:388px;
	padding:8px 0 0;
}
.pricebox {
	display:block;
	padding:26px 5px;
	background:#57c5a0;
	color:#fff;
	font:13px/15px 'aller_bd', Arial, Helvetica, sans-serif;
	width:58px;
	margin:0 0 13px;
	text-align:center;
}
.bannerbox .pricebox {
	float:left;
	margin:7px 22px 7px 0;
}
.bannerbox .textbox h2 {
	color:#242424;
	font-size:40px;
	line-height:40px;
	margin:0 0 6px;
}
.bannerbox .textbox h2 {
	margin:0 0 7px;
}
.bannerbox .textbox p {margin:0 0 15px;}

.filter-block{
	background: #2e2e2e;
	padding: 15px 0;
	text-align: center;
}
.filter-block .box{
	width:23.4%;
	float:left;
	margin:0 0 0 2.1%;
	height:60px;
}
.filter-block .box:first-child{
	margin: 0;
}
.filter-block .title{
	font-size:22px;
	line-height:24px;
	color:#fff;
	display:block;
	position:relative;
	top:47%;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
}
.filter-block section,option{
	font-size: 18px;
    line-height: 25px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%!important;
    height: 60px;
    cursor: pointer;
    text-overflow: ellipsis;
    color: #fff;
    background: #242424;
}

.products-block{
	border-bottom:1px solid #bcb5a7;
	padding:0 0 18px;
}
.products-block .title-box{
	overflow:hidden;
	padding:10px 0 28px;
}
.products-block .title-box h2{
	color:#242424;
	font:25px/27px sans-serif;
	float:left;
}
.navpath{
	float:left;
	color:#bcb5a7;
	font:12px/14px  sans-serif;
	overflow:hidden;
	margin:12px 0 0 16px;
}
.navpath li{
	float: left;
	position: relative;
	margin: 0 21px 0 0;
}
.navpath li:after{
	position: absolute;
	left:-13px;
	top:4px;
	background:url(../img/bg-bul.png) no-repeat;
	width:6px;
	height:6px;
	content:'';
}
.navpath a{
	color:#bcb5a7;
}

.sort-box{
	float:right;
	margin:-2px 0 0;
}

.sort-box .sort-title{
	float:left;
	font:14px/16px sans-serif;
	margin:7px 13px 0 0;
	color:#bcb5a7;
}
.sort-list{
	float: left;
	margin:0 11px 0 0;
}
.sort-list li{
	float: left;
	margin: 0 9px 0 0;
	border:1px solid #bcb5a7;
	width: 28px;
	height: 28px;
}
.sort-list li:hover,
.sort-list li.active {
	border-color:#898170;
}
.products-block {
	border-bottom:1px solid #bcb5a7;
	padding:0 0 18px;
	margin:0 0 25px;
}
.products-block .title-box {
	overflow:hidden;
	padding:10px 0 28px;
}
.products-block .title-box h2 {
	color:#242424;
	font:25px/27px 'aller_lt', sans-serif;
	float:left;
}

.products-block .title-box .btn-all {
	float:right;
	color:#bcb5a7;
	font:14px/16px sans-serif;
	padding:6px 20px;
	border:1px solid #bcb5a7;
	margin:-2px 0 0;
}
.product-list{
	overflow: hidden;
	margin:0 -5% 10px 0;
}
.product-list > li {
	width:30.4%;
	margin:0 1.75% 18px 0;
	position:relative;
	
	vertical-align:top;
}
.product-list img {
	width:100%;
	height:auto;
	display:block;
}
.product-bar {
	padding:3px 0 6px 93px;
	background:#fff;
	position:relative;
	border-top:1px solid #ccc;
	min-height:40px;
}
.product-bar .price-box {
	left:12px;
	position:absolute;
	bottom:0;
	margin:0;
}
.product-bar h3 {
	color:#242424;
	font-size:18px;
	line-height:20px;
	padding:10px 0 0;
}
.product-bar .option-list {
	margin: 0 0 0 14px;
	display:none;
}
.product-list > li:hover .option-list {display:block;}
.product-list > li:hover .product-bar h3 {display:none;}
.price-box {
	display:block;
	padding:26px 5px;
	background:#57c5a0;
	color:#fff;
	font:13px/15px  Arial, Helvetica, sans-serif;
	width:58px;
	margin:0 0 13px;
	text-align:center;
}
.product-list .info-box{
	width: 68px;
	height: 67px;
	color: #fff;
	font:13px/15px  sans-serif;
	position: absolute;
	top: 0;
	right:13px;
	box-sizing:border-box;
	padding:5px;
	background:#242424;
	display:table;
	text-transform: uppercase;
	text-align: center;
}
.product-list .info-box span {
	display:table-cell;
	vertical-align:middle;
}
.product-list .info-box.orange {background:#f27e4b;}

.option-list{
	overflow: hidden;
}
.option-list li{
	float: left;
	margin: 0 2px 0 0;
}
.option-list a{
	display: block;
	height: 40px;
	width: 40px;
	position: relative;
	background: #fff;
}
.option-list a:after{
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../img/sprite.png) no-repeat;
	content:'';
}
.option-list .view:after {
	background-position:-79px 0;
	width:16px;
	height:10px;
	margin:-5px 0 0 -8px;
}
.option-list .view:hover:after {background-position:-166px 0;}
.option-list .wishlist:after {
	background-position:-100px 0;
	width:16px;
	height:16px;
	margin:-8px 0 0 -8px;
}
.option-list .wishlist:hover:after {background-position:-187px 0;}
.option-list .share:after {
	background-position:-123px 0;
	width:16px;
	height:13px;
	margin:-6px 0 0 -8px;
}
.option-list .share:hover:after {background-position:-210px 0;}
.option-list .buy:after {
	background-position:-143px 0;
	width:16px;
	height:15px;
	margin:-7px 0 0 -8px;
}
.option-list .buy:hover:after {background-position:-230px 0;}

.news-block{
	overflow: hidden;
	margin: 0 0 0 22px;
}
.news-block .box{
	width: 23.5%;
	float: left;
	background: #dfdbd4;
	box-sizing:border-box;
	padding:31px 15px 10018px;
	margin:0 0 -9999px 2%;
}
.news-block .box:first-child {margin:0 0 -9999px;}
.news-block .box.large {
	width:49%;
}
.news-block h3{
	color:#242424;
	font:14px/16px 'aller_bd', sans-serif;
	margin:0 0 12px;
	text-transform:uppercase;
}
.news-block q{
	display: block;
	margin: 0 0 6px;
}
.news-block q a {color:#242424;}
.news-block cite {
	display:block;
	font-family: sans-serif;
}
.news-list{
	padding: 8px 0 0 2px;
}
.news-list li{
	overflow: hidden;
	margin: 0 0 0 15px;
}
.news-list .date{
	float: left;
	margin: 0 10px 0 0;
	color:#fff;
	background:#57c5a0;
	font:10px/12px  sans-serif;
	width:30px;
	padding:5px 3px;
	text-transform:uppercase;
	text-align:center;
}
.news-list .date span { font-size:13px;}
.news-list .text{
	overflow: hidden;
	padding: 2px 0 0;
}
.news-list .text strong{
	font:14px/16px 'aller_bd', sans-serif;
	display:block;
}
.news-list .text strong a {color:#242424;}
.twitter-list li {margin:0 0 11px;}
.twitter-list p {margin:0 0 6px;}
.twitter-list .date {
	display:block;
	color:#c4c5bf;
}
.twitter-list a{
	text-decoration: none;
	color: #57c5a0;
}
.twitter-list p{
	font-style: italic;
	color: 
}
.image-list{
	overflow:hidden;
	margin:0 -8% 0 0;
}
.image-list li{
	float:left;
	margin:0 2.7% 9px 0;
	width:30%;
}
.image-list img{
	width:90%;
	height:auto;
	display:block;
}
.jcf-hidden {
	position: absolute;
	top: -9999px;
	left: -9999px;
	visibility: hidden;
}
.jcf-select{
	font-size: 18px;
	line-height: 25px;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 60px;
	cursor: pointer;
	text-overflow: ellipsis;
	color: #fff;
	background: #242424;
}
.jcf-select .jcf-select-text{
	position: absolute;
	top: 48%;
	left: 45px;
	right: 45px;
	transform:translate(0, -50%);
	-webkit-transform:translate(0, -50%);
	text-overflow: ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.jcf-select .center {
	position: absolute;
	top: 0;
	right: 40px;
	left: 0;
	padding: 9px 10px;
}
.type-2{
	width: 198px;
	height: 28px;
	border:1px solid #bcb5a7;
	background: #ebe7df;
    color: #bcb5a7;
    font-size: 14px;
    line-height: 20px;

}
.type-2 option{
	width: 198px;
	height: 28px;
	border:1px solid #bcb5a7;
	background: #ebe7df;
    color: #bcb5a7;
    font-size: 14px;
    line-height: 20px;
}
@media only screen and (max-width: 767px){
.bannerbox .container,
.bannerbox .textbox {
	position:static;
	transform:translate(0, 0);
	-webkit-transform:translate(0, 0);
	width:100%;
	box-sizing:border-box;
}
.bannerbox img {
	position:static;
	margin:0;
	min-height:0;
	min-width:0;
}
.bannerbox .container {
	padding:20px;
}
.filter-block .box {
	float:none;
	margin:0 0 10px !important;
	width:auto;
}
.navpath {
		margin:0 0 15px;
		float:none;
}
.sort-box {
	float:none;
}
.sort-box .sort-title {
	float:none;
	display:inline-block;
	vertical-align:top;
}
.sort-list {
	margin:0 11px 15px 0;
	float:none;
	display:inline-block;
	vertical-align:top;
}
.products-block .title-box {padding:10px 0 18px;}
.products-block .title-box h2 {
	float:none;
	margin:0 0 10px;
}
.products-block .title-box .btn-all {
	float:none;
	display:inline-block;
	vertical-align:top;
}
.product-list {margin:0;}
.product-list > li {
	margin:0 0 18px;
	width:100%;
}
.product-bar .option-list {margin:0 0 0 14px;}
.option-list a {width:40px;}
.products-block {padding:0 0 10px;}
.news-block .box {
	padding:31px 15px;
	margin:0 0 18px;
	float:none;
	width:auto;
}
.news-block .box:first-child {margin:0 0 18px;}
.news-block .box.large {width:auto;}





}

