body{
	background: #ebe7df;
}
/*
*************
*=Header
*************
*/
.header{
	background-color: #181818;
}
.pagetitle a{
	color:#4e9c7c;
	font-size: 30px;
	font-style: normal;
	font-family: helvetica,arial,sans-serif;
	text-decoration: none;
	padding:10px 4px 0 30px;
	
}
.searchbar{
	padding-right: 10px;
	margin-top: 20px;
}
.searchbar input[name=searchBox]{
	background-color:#181818;
	border: 1px solid #4d4d4d;
	height: 35px;
	color:#ffffff;
}
.searchbar input[name="searchButton"]{
	background-image: url('../img/images.png');
	text-indent: -999999px;
	border:1px solid #4d4d4d;
	height: 35px;
	width: 35px;
	overflow: hidden;
}
.searchbar input[name="loginregister"]{
	background-color: #181818;
	border:1px solid #4d4d4d;
	color: #ffffff;
	height: 35px;
}
.navigation a{
		text-decoration: none;
		color:#181818;
		font-size: 15px;
		margin: 10px;

}
.navigation a:hover{
	color:#4e9c7c;
}
.wishlist:after{
	width:16px;
	height:16px;
	position:absolute;
	top:23px;
	left:23px;
}
.wishlist img{
	width: 16px;
	height: 16px;
	padding-right: 2px;
}
.wishlist span{
	background: #adadad;
	padding: 3px;
	margin-left: 2px;
	margin-top: 2px;
}
.cart span{
	background: #adadad;
	padding: 6px;
	margin-left: 2px;
	margin-top: 2px;
}

/*
*************
*=Main
*************
*/
/*
&&&&&&&&&&&&
&=Blog page
&&&&&&&&&&&&
*/
@media only screen and (max-width: 1000px){
.main{
	height: 150%;
}
.blog1{
	margin-top: 2%;
}
.blog1 p{
	text-align: left;
	
	
}
.blog1 img,h4,p{
	margin-left: 20px;

}
.blog2{
	margin-top: 2%;
}
.blog2 p{
	text-align: left;
	
}
.blog2 img,h4,p{
	margin-left: 20px;

}
.blog3{
	margin-top: 2%;
}
.blog3 p{
	text-align: left;
	
	
}
.blog3 img,h4,p{
	margin-left: 20px;

}
#readmore{
	text-decoration: none;
	color:#ffffff;
	font-family: helvetica,arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;

}
#readmore:hover{
	color: grey;
}
.readmorebox{
	background-color: #4d4d4d;
	width: 100px;
	padding: 3px;

}
}
@media only screen and (min-width: 1000px){
.main{
	height: 70%;
}
.blog1{
	margin-top: 2%;
}
.blog1 p{
	text-align: left;
	
	
}
.blog1 img,h4,p{
	margin-left: 20px;

}
.blog2{
	margin-top: 2%;
}
.blog2 p{
	text-align: left;
	
	
}
.blog2 img,h4,p{
	margin-left: 20px;

}
.blog3{
	margin-top: 2%;
}
.blog3 p{
	text-align: left;
	width:400px;
	
}
.blog3 img,h4,p{
	margin-left: 20px;

}
#readmore{
	text-decoration: none;
	color:#ffffff;
	font-family: helvetica,arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;

}
#readmore:hover{
	color: grey;
}
.readmorebox{
	background-color: #4d4d4d;
	width: 100px;
	padding: 3px;

}
}
/*
&&&&&&&&&&&&
&=Login page
&&&&&&&&&&&&
*/
@media only screen and (min-width: 1000px){
.main.loginreg{
	height: 90%;
}
}
.bloglog{
	margin-top: 60px;
}
.login input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border:1px solid #ccc;
	box-sizing: border-box;
}
.login input[type=submit]{
	background-color: #4caf50;
	color:white;
	padding: 14px 20px;
	margin: 8px 0;
	border:none;
	cursor: pointer;
	width: 100%;
}
.register input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border:1px solid #ccc;
	box-sizing: border-box;
}
.register input[type=submit]
{
	background-color: #4caf50;
	color:white;
	padding: 14px 20px;
	margin: 8px 0;
	border:none;
	cursor: pointer;
	width: 100%;
}

/*
&&&&&&&&&&&&
&=About page
&&&&&&&&&&&&
*/
@media only screen and (min-width: 1000px){
.main.about{
	height: 90%;
}
}
.about img{
	float: left;
	margin:0 20px 20px 0;
}
.about p{
	text-align: justify;
	text-indent: 2em;
}
.aboutrow{
	margin-top: 60px;
}

/*
*************
*=Footer
*************
*/


.footer{
	
	background-color: #181818;
}
.footer .well{
	background:#262626;
}

.footer .textwidget ,.tweeterwidget, .flickrwidget{
	color: #ffffff;
	margin-top: 30px;
}
.footer form input{
	height: 35px;
	background:#262626;
	border: 1px solid #4d4d4d;
	color:#ffffff;
}
.footer .socialmedia a{
	text-decoration: none;
}
.footer .socialmedia nav{
	list-style: none;

}
.footer .socialmedia nav li{
	display: inline;
}
.footer .newsmedia{
	margin-top: 50px;
	margin-bottom: 50px;
}
}
